<div class="container-divider"></div>
<section class="section hero">
     <div class="container">
        <div class="hero-inner">
            <p class="header_text header_title">10Web Help Center</p>
            <p class="header_text header_desc">Hi, how can we help?</p>
        </div>
      </div>
      <div id="categories-menu"></div>
  </section>
<div class="container   id_{{article.id}}">
  <nav class="breadcrumbs-nav">
    {{breadcrumbs}}
  </nav>

  <div class="article-container id_{{article.id}}" id="article-container">
	 
    <article class="article">
      <header class="article-header">
        <h1 title="{{article.title}}" class="article-title">
          {{article.title}}
          {{#if article.internal}}
            <span class="icon-lock" title="{{t 'internal'}}"></span>
          {{/if}}
        </h1>

        {{#if settings.show_follow_article}}
          {{subscribe}}
        {{/if}}
        <div class="clipboard-link">
          <a class="clipboard">Copy article URL</a>
        </div>
      </header>
			<section class="article-sidebar mobile-sidebar">
            <h3 class="right-sidenav-title">in this article</h3>
       <div class="sticky-sidebar">
       </div>
    	</section>
      <section class="article-info">
        <div class="article-content">
          <div class="article-body">{{article.body}}</div>

          <div class="article-attachments">
            <ul class="attachments">
              {{#each attachments}}
                <li class="attachment-item">
                  <a href="{{url}}" target="_blank">{{name}}</a>
                  <div class="attachment-meta meta-group">
                    <span class="attachment-meta-item meta-data">{{size}}</span>
                    <a href="{{url}}" target="_blank" class="attachment-meta-item meta-data">Download</a>
                  </div>
                </li>
              {{/each}}
            </ul>
          </div>
        </div>
      </section>

      <footer>
        {{#if signed_in}}
          {{#with article}}
            <div class="article-votes">
              <span class="article-votes-question">Was this helpful?</span>
              <div class="article-votes-controls" role='radiogroup'>
                {{vote 'down' role='radio' class='article-vote article-vote-down'}}
                {{vote 'up' role='radio' class='article-vote article-vote-up'}}
              </div>
            </div>
          {{/with}}
        {{else}}
   				 <div class="article-votes for-sign-up">
              <span class="article-votes-question">Was this helpful?</span>
              <p class="sign-up-link">If you’d like to leave feedback, please  <a href="https://my.10web.io/sign-up">sign up</a>.</p>
      	   </div>
        {{/if}}

        <div class="article-more-questions">
          <h3>Need More Help?</h3>
          <div class="more-help">
            <div class="resource_item help_community">
              <a target="_blank" href="https://www.facebook.com/groups/356970164992808/">
                <h4>Ask the Community</h4>
                <p>Get answers from WP experts</p>
              </a>
            </div>
            <div class="resource_item contact_us">
              <h4>Contact Us</h4>
              <p>Ready to help 24/7/365</p>
            </div>
          </div>
        </div>
      </footer>
    </article>
     <section class="article-sidebar desktop-sidebar">
       <h3 class="right-sidenav-title">in this article</h3>
       <div class="sticky-sidebar">
       </div>
    	</section>
  </div>
  <div id="advanced_chat" class="no_plugins sales" style="display: none">
      <div id="advanced_chat-container">
        <div id="advanced_chat-bubble" class="advanced_chat-bubble hidden">
          <span id="advanced_chat-bubble_notification"></span>
        </div>
        <div class="chats-container" style="display: none">
          <div id="chats" class="chats">
            <div id="ask_question" class="chats-chat no_plugins live-chat">
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
