<div class="categories-page">
  <div class="container-divider"></div>
  <section class="section hero">
     <div class="container">
        <div class="hero-inner">
            <p class="header_text header_title">{{category.name}}</p>
            <p class="header_text header_desc">{{category.description}}</p>
        </div>
        <div id="categories-menu">
        </div>
      </div> 
  </section>
  <div class="container">

    
    <nav class="breadcrumbs-nav">
      {{breadcrumbs}}
    </nav>

    <div class="category-container">
      <div class="category-content">
        <h2 class="category-name">{{category.name}}</h2>
        <div class="section-tree">
          {{#each sections}}
            <section class="section" data-id="{{id}}" id="section-{{id}}">
              <h3 class="section-tree-title">{{name}}</h3>
              {{#if articles}}
                <ul class="article-list">
                  {{#each articles}}
                    <li class="article-list-item{{#if promoted}} article-promoted{{/if}}">
                      {{#if promoted}}
                        <span data-title="{{t 'promoted'}}" class="icon-star"></span>
                      {{/if}}
                      <a href="{{url}}" class="article-list-link">{{title}}</a>
                    </li>
                  {{/each}}
                </ul>
                {{#if more_articles}}
                  <a href="{{url}}" class="see-all-articles">
                      {{t 'show_all_articles' count=article_count}}
                  </a>
                {{/if}}
              {{else}}
                <div class="section-empty"></div>
              {{/if}}
            </section>
          {{else}}
            <i class="category-empty">
              <a href="{{category.url}}">{{t 'empty'}}</a>
            </i>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>
<script>
 categoryPage.getCategorySections({{category.id}});
</script>