<div class="categories-page">
  <div class="container-divider"></div>
  <section class="section hero">
     <div class="container">
        <div class="hero-inner">
            <p class="header_text header_title">{{category.name}}</p>
            <p class="header_text header_desc">{{category.description}}</p>
        </div>
        <div id="categories-menu">
        </div>
      </div> 
  </section>
  <div class="container">

    
    <nav class="breadcrumbs-nav">
      {{breadcrumbs}}
    </nav>

    <div class="category-container">
      <div class="category-content">
        <h2 class="category-name">{{category.name}}</h2>
        <div class="section-tree">
          {{#each sections}}
            <section class="section" data-id="{{id}}"  id="section_{{id}}">
              <h2 class="section-tree-title">{{name}}</h2>
                <ul class="article-list"> </ul>
            </section>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>
<script>
 categoryPage.getCategorySections({{category.id}});
</script>
