<footer id="colophon" role="contentinfo" class="dark_blue_bg">
    <div class="footer_top">
        <div class="container">
                        <div class="footer-column">
                                        <div class="footer-menu">
                    <p class="footer-menu_title">
                        <span>AI Builder</span>
                        <img src="{{asset 'footer-arrow.svg'}}" alt="arrow">
                    </p>
                    <ul class="footer-menu__items">
                                                        <li><a href="https://10web.io/ai-website-builder/">AI Website Builder</a></li>
                                                        <li><a href="https://10web.io/ai-ecommerce-website-builder/">Ecommerce AI Builder</a></li>
                                                        <li><a href="https://10web.io/wordpress-ai-builder/">WordPress AI Builder</a></li>
                                                    </ul>
                </div>
                                        <div class="footer-menu">
                    <p class="footer-menu_title">
                        <span>BUILDER FEATURES</span>
                        <img src="{{asset 'footer-arrow.svg'}}" alt="arrow">
                    </p>
                    <ul class="footer-menu__items">
                                                        <li><a href="https://10web.io/hosting/managed-wordpress-hosting/">Managed WordPress hosting</a></li>
                                                        <li><a href="https://10web.io/domain-name/">Free custom domain</a></li>
                                                        <li><a href="https://10web.io/ai-website-builder/vibe-coding-website/">Vibe coding website</a></li>
                                                    </ul>
                </div>
                                </div>
                        <div class="footer-column">
                                        <div class="footer-menu">
                    <p class="footer-menu_title">
                        <span>Wordpress Tools</span>
                        <img src="{{asset 'footer-arrow.svg'}}" alt="arrow">
                    </p>
                    <ul class="footer-menu__items">
                                                        <li><a href="https://10web.io/page-speed-booster/">PageSpeed Booster</a></li>
                                                        <li><a href="https://10web.io/plugins/">WordPress plugins</a></li>
                                                    </ul>
                </div>
                                        <div class="footer-menu">
                    <p class="footer-menu_title">
                        <span>AI Tools</span>
                        <img src="{{asset 'footer-arrow.svg'}}" alt="arrow">
                    </p>
                    <ul class="footer-menu__items">
                                                        <li><a href="https://10web.io/tools/logo-maker/">Logo Maker</a></li>
                                                        <li><a href="https://10web.io/business-name-generator/">Business Name Generator</a></li>
                                                        <li><a href="https://10web.io/tools/slogan-generator/">Slogan Generator</a></li>
                                                        <li><a href="https://10web.io/tools/mission-statement-generator/">Mission Statement Generator</a></li>
                                                        <li><a href="https://10web.io/tools/vision-statement-generator/">Vision Statement Generator</a></li>
                                                        <li><a href="https://10web.io/industries/">Industry Explorer</a></li>
                                                    </ul>
                </div>
                                </div>
                        <div class="footer-column">
                                        <div class="footer-menu">
                    <p class="footer-menu_title">
                        <span>BUILD WITH US</span>
                        <img src="{{asset 'footer-arrow.svg'}}" alt="arrow">
                    </p>
                    <ul class="footer-menu__items">
                                                        <li><a href="https://10web.io/white-label-website-builder/">White Label Website Builder</a></li>
                                                        <li><a href="https://10web.io/website-builder-api/">Website Builder API</a></li>
                                                        <li><a href="https://10web.io/white-label-website-builder/reseller-dashboard/">White Label Reseller dashboard</a></li>
                                                        <li><a href="https://10web.io/website-builder-api/self-hosted-solution/">Self-hosted solution for WP hosts</a></li>
                                                        <li><a href="https://apidocs.10web.io/" target="_blank">API documentation</a></li>
                                                    </ul>
                </div>
                                        <div class="footer-menu">
                    <p class="footer-menu_title">
                        <span>Solutions</span>
                        <img src="{{asset 'footer-arrow.svg'}}" alt="arrow">
                    </p>
                    <ul class="footer-menu__items">
                                                        <li><a href="https://10web.io/website-builder-api/saas-solution/" target="_blank">SaaS platforms</a></li>
                                                        <li><a href="https://10web.io/website-builder-api/hosting-domain-providers/">Hosting &amp; Domain providers</a></li>
                                                        <li><a href="https://10web.io/website-builder-api/msps-and-agencies/">MSPs &amp; agencies</a></li>
                                                    </ul>
                </div>
                                </div>
                        <div class="footer-column">
                                        <div class="footer-menu">
                    <p class="footer-menu_title">
                        <span>Resources</span>
                        <img src="{{asset 'footer-arrow.svg'}}" alt="arrow">
                    </p>
                    <ul class="footer-menu__items">
                                                        <li><a href="https://10web.io/blog/" target="_blank">Blog</a></li>
                                                        <li><a href="https://10web.io/website-templates/">Website templates</a></li>
                                                        <li><a href="https://10web.io/case-studies/">Case studies</a></li>
                                                        <li><a href="https://10web.io/wordpress-glossary/">Glossaries</a></li>
                                                        <li><a href="https://10web.io/builder-comparisons/">Website Builder comparisons</a></li>
                                                        <li><a href="https://10web.io/ai-tools/">AI Tools repository</a></li>
                                                        <li><a href="https://10web.io/ai-simplified-newsletter/">AI simplified newsletter</a></li>
                                                        <li><a href="https://10web.io/press-kit/">Press kit</a></li>
                                                        <li><a href="https://10web.notion.site/10web-ai-builder-public-roadmap" target="_blank">Public roadmap</a></li>
                                                        <li><a href="https://help.10web.io/hc/en-us" target="_blank">Help center</a></li>
                                                        <li class="submit_your_idea"><a href="https://help.10web.io/hc/en-us/community/topics" target="_blank">Submit your idea</a></li>
                                                    </ul>
                </div>
                                </div>
                        <div class="footer-column">
                                        <div class="footer-menu">
                    <p class="footer-menu_title">
                        <span>Company</span>
                        <img src="{{asset 'footer-arrow.svg'}}" alt="arrow">
                    </p>
                    <ul class="footer-menu__items">
                                                        <li><a href="https://10web.io/about-us/">About us</a></li>
                                                        <li><a href="https://10web.io/affiliates/">Affiliates</a></li>
                                                        <li><a href="https://10web.bamboohr.com/careers">Careers</a></li>
                                                        <li><a href="https://10web.io/customer-care-support/">Contact us</a></li>
                                                        <li><a href="https://10web.io/pricing-platform/">Pricing</a></li>
                                                        <li><a href="https://10web.io/legal/abuse/">Report abuse</a></li>
                                                        <li><a href="https://status.10web.io/" target="_blank">System status</a></li>
                                                        <li><a href="https://10web.io/legal/privacy-policy/">Legal</a></li>
                                                        <li><a href="https://trust.10web.io/" target="_blank">Trust center</a></li>
                                                        <li><a href="https://10web.io/legal/privacy-policy/">Privacy policy</a></li>
                                                    </ul>
                </div>
                                </div>
                                </div>
    </div>
    <div class="footer_bottom">
        <div class="container">
            <div class="content-left">
                <p>Copyright © 2026 TenWeb. All rights reserved.</p>
                <p>Address: 40 E Main St, Suite 721, Newark, DE 19711, United States</p>
            </div>
            <div class="content-right">
                <ul class="social_icons">
                                                <li>
                            <a href="https://10webexperts.slack.com/signup#/domain-signup " target="_blank" class="slack" rel="noreferrer">
                                <img src="{{asset 'slack_white.svg'}}" alt="Slack"/>
                            </a>
                        </li>
                                                <li>
                            <a href="https://x.com/10Web_io" target="_blank" class="tw" rel="noreferrer">
                                <img src="{{asset 'twitter_white.svg'}}" alt="Twitter">
                            </a>
                        </li>
                                                <li>
                            <a href="https://www.youtube.com/c/10Web" target="_blank" class="yt" rel="noreferrer">
                                <img src="{{asset 'youtube_white.svg'}}" alt="Youtube">
                            </a>
                        </li>
                                                <li>
                            <a href="https://www.facebook.com/10Web.io/" target="_blank" class="facebook" rel="noreferrer">
                                <img src="{{asset 'facebook_white.svg'}}" alt="Facebook">
                            </a>
                        </li>
                                                <li>
                            <a href="https://www.linkedin.com/company/10web/" target="_blank" class="in" rel="noreferrer">
                                <img src="{{asset 'linkedin_white.svg'}}" alt="Linkedin">
                            </a>
                        </li>
                                        </ul>
            </div>
        </div>
    </div>
</footer>
