<footer class="footer">
  <div class="footer-inner">
    {{#link 'help_center'}}{{help_center.name}}{{/link}}

    <div class="footer-language-selector">
      {{#if alternative_locales}}
        <div class="dropdown language-selector" aria-haspopup="true">
          <a class="dropdown-toggle">
            {{current_locale.name}}
          </a>
          <span class="dropdown-menu dropdown-menu-end" role="menu">
            {{#each alternative_locales}}
              <a href="{{url}}" dir="{{direction}}" rel="nofollow" role="menuitem">
                {{name}}
              </a>
            {{/each}}
          </span>
        </div>
      {{/if}}
    </div>
  </div>
</footer>

<script type="text/javascript">
window.$crisp=[];

window.CRISP_WEBSITE_ID="82ea3642-f934-4529-9078-07bd38324a1a";
(function(){
    d=document;
    s=d.createElement("script");
    s.src="https://client.crisp.chat/l.js";
    s.async=1;
    d.getElementsByTagName("head")[0].appendChild(s);
})();

let data = getCookie("db-user-data");
if(data){
    data = JSON.parse(data);
    const nickName = data["email"].replace("@", "--");
    $crisp.push(["set", "user:nickname", nickName]);
    $crisp.push(["set", "user:email", data["email"]]);
    $crisp.push(["set", "session:data", [[["email", data["email"]], ["name", data["email"]]]]]);
}


function getCookie(cname) {
  var name = cname + "=";
  var decodedCookie = decodeURIComponent(document.cookie);
  var ca = decodedCookie.split(';');
  for(var i = 0; i <ca.length; i++) {
    var c = ca[i];
    while (c.charAt(0) == ' ') {
      c = c.substring(1);
    }
    if (c.indexOf(name) == 0) {
      return c.substring(name.length, c.length);
    }
  }
  return "";
}
</script>