<div class="search-result-container">
  <div class="container-divider"></div>
    <section class="section hero">
      <div class="hero-container container">
        <div class="hero-inner">
          <h2 class="header_search_result"><b>{{results_count}} results</b> found for <b>"{{query}}"</b></h2>
           {{search submit=false instant=settings.instant_search class='search search-full'}}
        </div>
         <div id="categories-menu">
        </div>
      </div>
    </section>
  <div class="container">
    <div class="search-results">
      <section class="search-results-column">
         <ul class="search-results-list">
       		 {{#if article_results}}
            {{#each article_results}}
              <li class="search-result">
                <div class="clear">
                  <a href="{{url}}" class="search-result-link">{{title}}</a>
                  {{#if vote_sum}}
                    <span class="search-result-votes meta-count">-{{vote_sum}}</span>
                  {{/if}}
                </div>  
                <div class="search-result-description">{{text}}</div>
                <ul class="meta-group">
                  <li>
                    <ol class="breadcrumbs search-result-breadcrumbs">
                      {{#each path_steps}}<br class="mobile">
                        <li title="{{name}}"><a href="{{url}}">{{name}}</a></li>
                      {{/each}}
                    </ol>
                  </li>
                </ul>
              </li>
            {{/each}}
       		{{/if}}
          {{#if help_center.community_enabled}}
            {{#if post_results}}
              {{#each post_results}}
                  <li class="search-result">
                    <div class="clear">
                      <a href="{{url}}" class="search-result-link">{{title}}</a>
                    </div>
                    <div class="search-result-description">{{text}}</div>
                    <ul class="meta-group">
                      <li>
                        <ol class="breadcrumbs search-result-breadcrumbs">
                          {{#each path_steps}}<br class="mobile">
                            <li title="{{name}}"><a href="{{url}}">{{name}}</a></li>
                          {{/each}}
                        </ol>
                      </li>
                    </ul>
                  </li>
                {{/each}}
              {{/if}}
           {{/if}}
          </ul>
          <div class="result-not-found">
            <h3>
              Sorry! We looked everywhere, but could not find <b>{{query}}</b>.
            </h3>
            <h4> 
              Try a different search, or browse our help topics instead.
            </h4>
          </div>
      </section>

    </div>

    {{pagination}}
  </div>
</div>
<script>
  if ( $(".search-results-list li").length) {
     $('.result-not-found').css('display','none');
  }
</script>